/***************************************************************/
/*********************Global Settings***************************/
/***************************************************************/

.container-fluid{
  padding-left: 0%;
  padding-right: 0%;
}

.testcontainer{
  background-color: black;
  color: black;
  height: auto;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 3%;
  padding-right: 3%;

}


.box{
  background-color: yellow;
  padding: 2%;
}

.testcontainer1{
  background-color: blue;
  color: black;
  height: auto;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 3%;
  padding-right: 3%;

}


.box1{
  background-color: pink;
  padding: 2%;
}


/***************************************************************/
/*********************Nav Settings***************************/
/***************************************************************/

.navbar{
  padding-left: 4%;
  padding-right: 4%;
}

.navigation_box{
  border-bottom : 1px black solid;
}

.test1{
  background-color: red;
}

.test2{
  background-color: green;
}

.test3{
  background-color: blue;
}

.test4{
  background-color: brown;
}

.test5{
  background-color: yellow;
}

.test6{
  background-color: white;
}

.test7{
  background-color: purple;
}

.test8{
  background-color: pink;
}


/***************************************************************/
/*********************header(homepage)***************************/
/***************************************************************/

.search_module.col-lg-1{
  width: 12%;
}

.searchbox.col-lg-1{
  width: 5%;
}

.search_module_box.col-lg-1{
  padding-left: 0%;
  padding-right: 0%;
}
